# Core Frameworks
streamlit
flask
flask-cors
apscheduler

# Google Cloud & Gemini AI
google-generativeai
google-cloud-speech
google-auth
google-api-core

# Firebase Integration
firebase-admin

# File Handling and Utilities
PyPDF2
python-dotenv
pydub
requests

# Data & Visualization
plotly
numpy<2.0.0
opencv-python-headless
mediapipe

# Image Processing
pillow